{
    "plugins": ["node"],
    "env": {
      "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
        "spread" : true,
        "restParams" : true
    },
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
        "node/no-unsupported-features": ["error", {
            "version": 4,
            "ignores": ["modules", "destructuring"]
        }],
        "no-console": ["warn"]
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017
    }
}
